---
interface Props {
  id: string
  placeholder: string
  label: string
  type?: string
}
const { id, label, placeholder, type = 'text' } = Astro.props
---

<label class="flex flex-col gap-2" for={id}>
  <span class="opacity-80">{label}</span>
  <input
    class="border-slate-900/20 bg-slate-200 pb-2 outline-none border-[1px] placeholder:uppercase placeholder:opacity-50 focus:text-opacity-100 focus:border-slate-900"
    {id}
    {type}
    type="text"
    {placeholder}
  />
</label>
